.pagination {
    display: flex;
    justify-content: center;
}
.navbar {
    border-bottom: 1px solid lightgrey !important;
    margin-bottom: 15px;
}
.navbar-brand {
    padding-left: 8px !important;
}
.nav-link:hover {
    text-decoration: underline !important;
    transition: 0.6s ease-in;
}
.nav-link{
    transition: 0.6s ease-in;
}

span.page-link{
    background-color: lightgrey !important;
    border: 1px solid lightgrey !important;
    outline: none;
}
a.page-link{
    color: black !important;
}
.link-dashboard {
    @media screen and(min-width: 680px){
        float: right !important;
    }
}
.brand-nav {
    @media screen and(min-width: 680px){
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}

