.home-thumbnail{
    border-radius: 14px;
    padding: 20px;
    &:hover {
        box-shadow: 1px 1px 40px #eaeaea;
    }
}
.img-thumbnail {
    width: 80%;
    margin: 0 auto;
    display: block;
    height: 300px !important;
    object-fit: cover;
}

